---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ShortHero from '../../components/ShortHero.astro';
import Card from '../../components/Card.astro';
import ContentImagePopUp from '../../components/ContentImagePopUp.astro';
import Header from '../../components/Header.astro';
import ResumenPost from '../../components/ResumenPost.astro';
import { getElementsBySameTags } from '../../lib/collectionLib.js';
import Gallery from '../../components/Gallery.astro';
import { getOptimizedImage } from '../../utils/imageUtils.js';

export async function getStaticPaths() {
  const juegos = await getCollection('juegos');
  if (!juegos || juegos.length === 0) {
    return [];
  }
  return juegos.map(juego => ({
    params: { slug: juego?.slug },
    props: { juego }
  }));
}



const { juego } = Astro.props;
const { data } = juego; 
const { title, date, img, readtime, description, tags, related_images} = data;
const { Content } = await render(juego);
const seoObj = {
  title : title,
  description: data.description,
  image: img
}


const relatedElements = await getElementsBySameTags('juegos', juego, 4);



---
<Layout seoObj={seoObj}>
  <Header />
	<ShortHero 
		title={title} 
		description={description} 
		image={getOptimizedImage(img, false)}
		bgposition="center"
	>

    <ResumenPost item={juego} />
     
	</ShortHero> 

  <div class="flex gap-6 w-9/12 m-auto">
    <section aria-label={title} class="my-4 mb-20 w-8/12 mx-auto m-auto block justify-center transition-transform duration-300 css-content">
      <Content />
    </section>
    <section class="my-4 w-4/12 flex flex-col">
      <Gallery images={related_images} />
      <div class="flex flex-col gap-4 align-middle self-center mt-8 ">
        <span class="text-2xl ps-2 border-s-8 border-pink-700 hover:animate-glitch">Quizá te interese</span>
        {relatedElements && relatedElements.map((element: any) => (
          <Card title={element.data.title} description={element.data.description} image={getOptimizedImage(element.data.img, 400)} link={'/guias/'+element.slug} tags={element.data.tags} date={element.data.date} />
        ))}
      </div>
    </section>
  </div>

  <ContentImagePopUp />

</Layout> 
