---
import Layout from '../layouts/Layout.astro';
import ShortHero from '../components/ShortHero.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Filter from '../components/React/Filter.jsx';

import { getOptimizedImage } from '/src/utils/imageUtils.js';

import { getCollection } from 'astro:content';
const guias = await getCollection('guias');

const titulo = 'Guías Meta Quest 3';
const desc = 'Explora guías, juegos y accesorios para disfrutar al máximo tu experiencia de realidad virtual';
const seoObj = {
  title : titulo,
  description: desc,
  image: '/images/guias/guias-informacion-meta-quest-3.webp',
}

---

<Layout seoObj={seoObj}>

	<Header />

	<ShortHero title={titulo} description={desc} image={getOptimizedImage('/images/guias/guias-informacion-meta-quest-3.webp', false)}>
		<div class="z-2 absolute bottom-0 mb-4">
			<Filter target=".js-filter-box" client:load/>
		</div>
	</ShortHero> 

	<section aria-label="Guías para Meta Quest 3"  class="my-4 mb-20 w-9/12 mx-auto m-auto flex flex-wrap gap-4 justify-center js-filter-box transition-transform duration-300">
			{guias.map(guia => (
				<Card date={guia.data.date} tags={guia.data.tags} title={guia.data.title} description={guia.data.description} image={getOptimizedImage(guia.data.img,400)} link={'/guias/' + guia.slug} />
			))}
	</section>	

</Layout>

