---
import Layout from '../layouts/Layout.astro';
import ShortHero from '../components/ShortHero.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Filter from '../components/React/Filter.jsx';

import { getOptimizedImage } from '/src/utils/imageUtils.js';


import { getCollection } from 'astro:content';
const juegos = await getCollection('juegos');


const titulo = 'Juegos para Meta Quest 3 y Realidad Virtual';
const desc = 'Explora los mejores juegos para Meta Quest 3 y sumérgete en la realidad virtual.';
const seoObj = {
  title : titulo,
  description: desc,
  image: '/images/juegos/juegos-realidad-virtual.webp',
}

---

<Layout seoObj={seoObj}>

	<Header />

	<ShortHero 
		title={titulo} 
		description={desc} 
		image={getOptimizedImage('/images/juegos/juegos-realidad-virtual.webp', false)}
		bgposition="top"
	>
		<div class="z-2 absolute bottom-0 mb-4">
			<Filter target=".js-filter-box" client:load/>
		</div>
	</ShortHero> 

	<section aria-label={titulo} class="my-4 mb-20 w-9/12 mx-auto m-auto flex flex-wrap gap-4 justify-center js-filter-box transition-transform duration-300">
			{juegos.map(juego => (
				<Card date={juego.data.date} tags={juego.data.tags} title={juego.data.title} description={juego.data.description} image={getOptimizedImage(juego.data.img, 400)} link={'/juegos/' + juego.slug} />
			))}
	</section>	

</Layout>

