---
const { title, description, image, link, tags, date} = Astro.props;

console.log(link)
---

<article
  data-jsfilter-search={title} 
  data-jsfilter-check-tags={tags?tags.join(","):''}
  style={`background-image: url('${image}');`} 
  class="group w-[400px] min-w-[400px] max-w-[400px] hover:contrast-115 min-h-[200px] bg-cover bg-no-repeat bg-center rounded-2xl overflow-hidden shadow-xl flex flex-col relative hover:scale-105 transition-all duration-150 focus:outline-none focus:ring-2 focus:ring-orange-500"
>
  {tags && tags.length > 0 && (
    <div class="absolute top-2 right-2">
      <span class="text-xs border-1 bg-pink-700/40 border-pink-700 px-1 py-0.5 rounded-lg">{tags.join(", ")}</span>
    </div>
  )}
  <div class="absolute top-2 left-2">
    <span class="text-xs  group-hover:bg-black/60 border-1 border-white bg-white/10 px-1 py-0.5 rounded-lg">
      {new Date(date).toLocaleDateString('es-ES', { year: 'numeric', month: 'short', day: 'numeric' })}
    </span>
  </div>
  <div class="absolute inset-0 bg-zinc-900/80 group-hover:bg-zinc-900/30"></div>
  <div class="absolute bottom-0 left-0 w-full p-4 flex flex-col items-start z-10 bg-gradient-to-t from-zinc-900/80 via-zinc-900/40 to-transparent">
      <a href={link} >
        <h3 class="font-bold text-xl mb-1 text-white">{title}</h3>
      </a>
      <p class="text-sm text-zinc-300 mb-2">{description}</p>
    </div>
</article>
